<?xml version='1.0'?>

<robot name="object_116867">
    <static>false</static>
    <link name="baseLink">
        <inertial>
            <mass value="0.13757494359550282"/>
            <inertia ixx="0.00014031634200460953" ixy="3.3447940089926494e-06" ixz="-4.858732856488549e-06"
                     iyy="0.00014377775110752531" iyz="-1.731357831381983e-06" izz="6.361765443815463e-05"/>
        </inertial>
        <collision name="collision">
            <geometry>
                <mesh filename="collision_model_vhacd.obj"/>
            </geometry>
        </collision>
        <visual name="visual">
            <geometry>
                <mesh filename="visual_model.obj"/>
            </geometry>
        </visual>
    </link>
</robot>
